# Jupyter notebook
Los notebook tienes dos tipos principales de celtas: de código y de texto. Mientras que en la de código se escribe el código en Python, en la otra se escriba con Markdown, un lenguaje parecido al que utilizan los blogs, por ejemplo.

Con markdown podemos, por ejemplo, introducir headers,
# Header1
## Header2
### Header3

O podemos introducir algún [link](https://www.google.com),

Incluso, podemos poner alguna imagen,

![A pretty tiger](https://upload.wikimedia.org/wikipedia/commons/5/56/Tiger.50.jpg)

O alguna ecuación en LaTex,

\begin{equation}
\bar{x} = \frac{\sum_{i=1}^n x_i}{n}
\end{equation}

# Introducción a Python

Introducción a los fundamentos del lenguaje Python sobre el cuál está construido Pandas.

Un **comentario** es una línea ignorada por python.
Básicamente funcionan como una forma de documentación dentro del código, para proveer a un usuario una explicación de la lógica, funcionalidad, o propósito de una sección en particular. Un buen uso de comentarios pueden hacer que un algoritmo complejo pueda ser comprendido en partes pequeñas y entendibles.

In [1]:
# Esto es un comentario

# When I wrote this, only God and I understood what I was doing. Now, God only knows

# Drunk, fix later

# Magic. Do not touch.

# If you’re reading this, that means you have been put in charge of my previous project. 
# I am so, so sorry for you. God speed.

In [2]:
print(10 + 10)
# Esto no se ejecuta
# print(20 + 20)

20

In [3]:
print(10 + 10) # Solo se ignora despues del hashtag

20

In [6]:
print("Hello")

Hello

## Tipos de datos
#### Números enteros y flotantes

In [7]:
# numeros enteros
# numero sin componente fraccional

x = 1

In [8]:
type(x)

int

In [9]:
# float, con decimales

x = 3.14
print(type(x))

<class 'float'>

In [10]:
# podemos hacer operaciones
x1 = 1.5
x2 = 2.5

X = x1 + x2

print(X, 'Es de tipo', type(X))

4.0 Es de tipo <class 'float'>

#### Strings

In [11]:
# string
# una coleccion de caracteres (texto)
# se ponen entre parentesis 

x = "Hello World!. En Guadalajara 2024"

In [12]:
"Ivan"

'Ivan'

In [13]:
print(x)

Hello World!. En Guadalajara 2024

In [14]:
type(x)

str

In [15]:
# podemos hacer operaciones con string
# pero no tenemos las mismas reglas que con números

x1 = 'Hello'
x2 = 'World!'

X = x1 + x2

print(X, 'Es de tipo', type(X))

HelloWorld! Es de tipo <class 'str'>

In [16]:
# Algunas operaciones sólo pueden ser entre variables del mismo tipo
# En este caso hay un "TypeError"

x1 = 'Hello'
x2 = 1

X = x1 + x2

print(X, 'Es de tipo', type(X))

TypeError: can only concatenate str (not "int") to str

In [17]:
# tambien puede haber un string sin nada (vacío)
# tiene una longitud 0

x = ''
print(x)

In [19]:
type(x)

str

In [22]:
len(" ")

1

#### Booleans
Este tipo de variables sólo serán uno de dos valores posibles: True y False.

In [23]:
# True o False no son strings, y ya están definidos dentro de python como una variable boolean.
True

True

In [24]:
False

False

In [25]:
# Hay ciertos escenarios que se prestan a producir una afirmación de este tipo
# Por ejemplo, condiciones o comparaciones

x1 = 5
x2 = 7

print(x1<x2)

True

In [26]:
x1 = 5
x2 = 7

print(x1>x2)

False

#### Variable None
Es un tipo de variable que represente ausencia de valor.
Aunque no hay valor, esta información de ausencia sí es almacenada en memoria.

In [27]:
x = None
print(x)

None

Estos son los tipos de variables más comunes en python. En Pandas se añaden otro tipo de datos, los cuales van a seguir sus propias reglas y operaciones. Por ejemplo: **dataframes** a los cuales se les puede hacer un join, o extraer un **arreglo** de observaciones de una fila (o columna) de una tabla.

## Operadores
Un símbolo que realiza una operación (que puede ser matemática, o lógica, etc.)

#### Operadores matemáticos

In [28]:
# operaciones matemáticas

x1 = 3
x2 = 2

# guardo los resultados de las operaciones en diferentes variables
suma = x1 + x2
resta = x1 - x2
multiplicacion = x1*x2
division = x1/x2
potencia = x1**2.0


# imprimo estas variables
print('suma de x1 + x2 = ', suma)
print('resta de x1 - x2 = ', resta)
print('multiplicacion de x1*x2 = ', multiplicacion)
print('division de x1/x2 = ', division)
print('potencia x1^2 = ', potencia)

suma de x1 + x2 =  5
resta de x1 - x2 =  1
multiplicacion de x1*x2 =  6
division de x1/x2 =  1.5
potencia x1^2 =  9.0

La importancia que python le da a las operaciones matemáticas es la siguiente:

* Parentesis
* Exponentes
* Multiplicacion/Division
* Adicion/Substraccion

In [31]:
3 + (4 * 5)

23

In [32]:
(3 + 4) * 5

35

In [33]:
# division piso (floor division)
# cuantas veces cabe un número en otro
# regresa un numero entero

x1 = 10
x2 = 3

print(x1 // x2)

3

In [34]:
# operador modulo
# regresa el residuo de la division

x1 = 10
x2 = 3

print(x1 % x2)

1

#### Operaciones con strings

In [35]:
# operaciones con strings
# todos los elementos tienen que ser de tipo string

# concatenacion
x1 = "Universidad"
x2 = "De"
x3 = "Guadalajara"

concatenacion = x1 + x2 + x3

print('Concatenacion ->', concatenacion)

Concatenacion -> UniversidadDeGuadalajara

In [36]:
# Podemos utilizar el operador * en strings para repetir una cadena de caracteres
x1 = 'Yo'

print(x1*10)

YoYoYoYoYoYoYoYoYoYo

#### Operadores lógicos

In [81]:
# operador de igualdad
# es basicamente una pregunta de es o no es

print(1 == 1)
print(1 == 2)
print(5 == 5.0) # comparamos un entero y un float y aun así nos resulta True
print(5 == 5.1) # Aunque sean un poquito diferentes ya será False
print('Hello' == "Hello")
print('Pepito' == "pepito") # Python hace distinción entre mayúsculas y minúsculas (case sensitivity)
print('Pepito' == "Pepito ") # No hay que olvidarse que el espacio también es un caracter

True
False
True
False
True
False
False

In [37]:
True == False

False

In [38]:
False == False

True

In [84]:
# operador de desigualdad
# al revés, checa si los valores NO SON IGUALES

print(1 != 1)
print(1 != 2)
print(5 != 5.0) 
print(5 != 5.1)
print('Hello' != "Hello")
print('Pepito' != "pepito") 
print('Pepito' != "Pepito ")

False
True
False
True
False
True
True

In [39]:
# operadores comparativos

print(5 <= 8)
print(8 <= 8)
print(8 < 8)
print(10 <= 8)

True
True
False
False

In [40]:
print(14 > 9)
print(14 >= 9)
print(14 >= 14)
print(14 > 14)
print(14 >= 17)

True
True
True
False
False

## Variables

Una variable es un nombre que asignamos a un valor dentro del script. El valor que asignamos puede ser de los **tipos** anteriormente vistos, y la variable sirve como etiqueta o referencia para este valor.


De esta forma, podemos referirnos a la variable en sí, y ponerle un nombre que nos proporcione contexto en cuento a lo que está representando, por ejemplo.

Recordar que una variable no es necesariamente fija, esta puede ser reasignada y variar a lo largo del script, dependiento del propósito.

IMPORTANTE: Las variables son guardadas mientras el código haya sido compilado y el script todavía siga ejecutándose.

In [42]:
# guardamos una calificacion
score = 82
print(score)

82

In [43]:
# Le vamos a subir cinco puntos 
print(score + 5)

87

In [44]:
# o se puede reasignar
score = 82 # empieza como 82

score = score  + 5 # utiliza su valor asignado para reasignarse

print(score)

87

In [98]:
score = 8.25
first_name = "Juan"
last_name = "Perez"
subject = "Historia"
full_name = first_name + last_name # juntamos nombre y apellido en una sola variable

print("El alumno %s tiene una calificacion de %.1f en la materia de %s" %(full_name,score,subject))

# % denota la variable
# %f indica que es de tipo float. %s es de tipo string.
# .1 indica que solo quiero 1 decimal de esta variable
# el simbolo % fuera del string a imprimir denota que variables van a ser ingresadas

El alumno JuanPerez tiene una calificacion de 8.2 en la materia de Historia

In [49]:
contador = 0
for i in range(1,11):
    print(contador)
    #contador = contador + 1
    for j in range(0,10):
        contador += 1

0
10
20
30
40
50
60
70
80
90

## Funciones

Una función es un bloque de código que sólo es ejecutado cuando es llamado. La función acepta inputs (llamados argumentos o parámetros) y regresar (return) un valor, el cual es el output de la función.

Algunas funciones ya están definidas dentro de python.

In [100]:
len("Python is fun") # numero de elementos

13

In [101]:
str(3.14) # conversion a string

'3.14'

In [53]:
str(None)

'None'

In [62]:
int("10") # conversion a entero

10

In [63]:
float("9.384") # conversion a flotante

9.384

In [65]:
x = "Hello"
type(x) # la funcion type nos regresa un string con el tipo que tenga la variable

str

In [66]:
type(3.14)

float

In [67]:
type(False)

bool

## Funciones personalizadas

* Se define una función con `def`, cuyo nombre debería aportar contexto.
* Dentro de un paréntesis se escriben los parametros de entrada (igual, que aporten contexto, si es posible). Estos parametros pueden tener asignado un valor por default, si es necesario.
* Escribir la lógica de la función dentro de este bloque indentado. Donde termine esta indentación es donde termina la función
* Las variables (y parámetros) declaradas dentro de la función sólo serán llamadas y guardadas dentro de la misma.
* utilizar `return` para especificar un valor de salida
* Al llamar a una función uno puede pasar los parámetros asignados de manera secuencial o explicitamente poniendo los nombres.

In [69]:
# una funcion que cambie una temperatura en celsius a fahrenheit

def celsius_to_fahrenheit(celsius_temp = 0): # si uno no asigna valor, por defecto el input es cero
    result = (celsius_temp * 1.8) + 32
    return result, celsius_temp

In [71]:
celsius_to_fahrenheit()

(32.0, 0)

In [72]:
celsius_to_fahrenheit(100)

(212.0, 100)

In [113]:
celsius_to_fahrenheit(celsius_temp=100)

212.0

In [74]:
def info_alumno_to_string(score,first_name,last_name,subject):
    full_name = first_name + ' ' + last_name
    return print("El alumno %s tiene una calificacion de %.1f en la materia de %s" %(full_name,score,subject))

In [76]:
score = 78
first_name = "Ernesto"
last_name = "Flores"
subject = "Métodos II"

info_alumno_to_string(first_name=first_name,last_name=last_name,subject=subject,score=score)

El alumno Ernesto Flores tiene una calificacion de 78.0 en la materia de Métodos II

## Métodos

* Un **método** es una función que pertenece a un objeto (por ejemplo, funciones asignadas a un objeto string).
* Un **objeto** es un término técnico a lo que habíamos visto como **tipo**.
* Para llamar a un método, se agrega un punto `.` después del objeto, seguido del método, y un parentesis con argumentos (como si fuera una funcion).
* Sigue un comportamiento similar a las funciones.
* Los objetos pueden ser mutables (pueden ser modificados una vez creados) o inmutables.
* Es posible realizar una cadena de métodos, si la lógica lo permite.

In [77]:
university = "Universidad de Guadalajara"

In [78]:
type(university)

str

In [81]:
university.upper() # pasar todo el string a uppercase

'UNIVERSIDAD DE GUADALAJARA'

In [82]:
university.lower() # pasar todo el string a lowercase

'universidad de guadalajara'

In [83]:
university.swapcase() # intercambiar uppercase por lowercase y viceversa

'uNIVERSIDAD DE gUADALAJARA'

In [84]:
"Universidad de Guadalajara".upper() # no tiene que aplicarse a fuerza sobre la variable

'UNIVERSIDAD DE GUADALAJARA'

In [85]:
university.title() # Cada palabra empieza por mayuscula

'Universidad De Guadalajara'

In [86]:
university.capitalize() # la primera palabra empieza con mayuscula y las demas con minuscula

'Universidad de guadalajara'

In [87]:
university = "   Universidad de Guadalajara   "

In [88]:
university.lstrip() # se remueven espacios a la izquierda

'Universidad de Guadalajara   '

In [89]:
university.rstrip() # se remueven espacios a la derecha

'   Universidad de Guadalajara'

In [90]:
# se puede aplicar una cadena de metodos
university.lstrip().rstrip().lower()

'universidad de guadalajara'

In [91]:
university.strip() # se remueven caracteres por la derecha y la izquierda

'Universidad de Guadalajara'

In [92]:
university.replace("G", "GDL") # Se reemplazan caracteres

'   Universidad de GDLuadalajara   '

In [94]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [95]:
print(university)

   Universidad de Guadalajara

In [96]:
university.strip().replace('G','GDL')

'Universidad de GDLuadalajara'

In [97]:
university.strip().replace('Guadalajara','GDL')

'Universidad de GDL'

In [100]:
university.strip().startswith("Univers")

True

In [101]:
university.strip().endswith("ara")

True

In [102]:
"dad" in university #checa si un valor se encuentra dentro del string

True

In [103]:
"dad " in university

True

In [105]:
"dad  " in university

False

In [112]:
university.split() # separa las palabras del string tomando el espacio como separador (por default)
# el output es un objeto de tipo lista

['Universidad', 'de', 'Guadalajara']

In [114]:
university.strip().split(sep=' ') # el argumento sep de split nos permite decir que tipo de separador se utiliza

['Universidad', 'de', 'Guadalajara']

## Listas

Es una estructura de datos mutable que guarda una colección ordenada de valores (**elementos** de la lista).

In [115]:
lista_ejemplo = [1,2,3,4,5]
print(lista_ejemplo)

[1, 2, 3, 4, 5]

In [117]:
lista_ejemplo[0]

1

In [118]:
# los elementos no tienen que ser necesariamente numéricos
lista_ejemplo = [True,False,True,False,True]
print(lista_ejemplo)

[True, False, True, False, True]

In [119]:
# incluso pueden ser otras listas
lista_ejemplo = [[True,False],[True,True],[False,False,False]]
print(lista_ejemplo)

[[True, False], [True, True], [False, False, False]]

In [120]:
subjects = ['Matemáticas', 'Estadística', 'Programación']

In [121]:
type(subjects)

list

In [124]:
len(subjects) # la función len nos regresa el numero de elementos del objeto (en este caso una lista)

3

In [125]:
len("Matemáticas") # la funcion len puede ser aplicada también a un string

11

In [126]:
subjects.append("Seminario I") # el método append agrega un elemento al final de la lista

# IMPORTANTE: recordar que al agregar algo, esta variable ya fue mutada, ya no es la original
# por lo mismo, si se le vuelve a aplicar append se agrega otra vez otro elemento

In [127]:
print(subjects)

['Matemáticas', 'Estadística', 'Programación', 'Seminario I']

In [134]:
subjects.pop() # regresa y remueve el ultimo elemento de la lista

IndexError: pop from empty list

In [135]:
print(subjects)

[]

In [136]:
planets = ["Mercurio", "Venus", "Tierra", "Marte", "Júpiter", "Saturno", "Urano", "Neptuno"]

In [139]:
"Tierra" in planets # IN nos regresa un true o false si el elemento se encuentra en la lista

True

In [140]:
"Corneria" in planets

False

In [141]:
"Plutón" in planets

False

## Índices

* Python asigna a cada elemento un índice de posición (en el orden que lleve el objeto). Esto puede ser tanto para **strings** como **listas** o **arrays**.
* En Python, el índice empieza a contar desde 0.
* Se utilizan brackets [] para referirse a un índice del elemento objeto y extraer su valor.
* Los índices referidos pueden ser también negativos, y esto se refiere en relación al final del objeto en lugar de al principio.
* Se utiliza slicing `:` para extraer múltiples elementos, entre dos índices.

In [142]:
subject = "Historia"

In [143]:
len(subject)

8

In [181]:
# H i s t o r i a
# 0 1 2 3 4 5 6 7

In [144]:
print(subject[0])
print(subject[1])
print(subject[2])
print(subject[3])
print(subject[4])
print(subject[5])
print(subject[6])
print(subject[7])

H
i
s
t
o
r
i
a

In [146]:
print(subject[-1])
print(subject[-2])
print(subject[-3])
print(subject[-4])
print(subject[-5])
print(subject[-6])
print(subject[-7])
print(subject[-8])

a
i
r
o
t
s
i
H

In [147]:
print(subject[-9]) # marca error si nos pasamos del rango

IndexError: string index out of range

In [148]:
print(subject[0:3]) # mientras que el primer indice referido si se incluye, el segundo no
print(subject[3:8]) # por eso esta línea se menciona el índice 8, que no tiene esta variable

His
toria

In [149]:
print(subject[3:100]) # En este caso no marca error si nos pasamos del índice

toria

In [150]:
planets = ["Mercurio", "Venus", "Tierra", "Marte", "Júpiter", "Saturno", "Urano", "Neptuno"]

In [151]:
#Insertar en la posicion 8 el string "Pluton"
planets.insert(8,"Plutón")
print("\nInsertar elemento posicion 8: ",planets)

Insertar elemento posicion 8:  ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Neptuno', 'Plutón']

In [152]:
lista = [2,4,1,6,3,4,7,3,5]

In [153]:
#Ordenar lista
lista.sort()
print("\nLista Ordenada : ",lista)

Lista Ordenada :  [1, 2, 3, 3, 4, 4, 5, 6, 7]

In [154]:
#Ordenar lista
lista.reverse()
print("\nLista Invertida : ",lista)

Lista Invertida :  [7, 6, 5, 4, 4, 3, 3, 2, 1]

## Loops

De forma frecuente, uno necesita repetir instrucciones una y otra vez. Sin embargo, en programación, si uno tiene que realizar algo 100 veces, no es necesario escribir 100 líneas de código idénticas. En Python, uno puede iterar sobre una secuencia y realizar operaciones sobre todos los elementos de una lista, tupla, string, o diccionario, por ejemplo.

* En python, se utiliza `for` y `while` para referirnos a loops.
* Todo el código indentado dentro de este `for` se ejecuta por cada iteración realizada.

In [155]:
my_list = [10,20,30,40,50]

In [157]:
len(my_list)

5

In [156]:
range(0,5)

range(0, 5)

In [228]:
range(0,len(my_list))

range(0, 5)

In [160]:
for i in range(0,len(my_list)):
    print(my_list[i]+10)

# en este caso, la variable i itera sobre un rango entre 0 y 5 (no se incluye este ultimo indice 5)
# siendo que en la primera iteracion i toma el valor 0
# en la segunda iteracion i toma el valor 1
# y así hasta que i llega a tomar el valor 4
# Este índice i en este caso es utilizado para referirse al índice de una lista

20
30
40
50
60

In [162]:
subjects = ['Matemáticas', 'Estadística', 'Programación']

for i in range(0,len(subjects)):
    print(subjects[i])

Matemáticas
Estadística
Programación

In [171]:
#también se puede hacer una iteración sobre cada elemento de una lista, sin tener que referir indice
x=1
for x in subjects:
    print(x)

Matemáticas
Estadística
Programación

In [172]:
subjects

['Matemáticas', 'Estadística', 'Programación']

In [176]:
lista_output = [x*2 for x in subjects]
lista_output

['MatemáticasMatemáticas',
 'EstadísticaEstadística',
 'ProgramaciónProgramación']

In [236]:
# lista de comprensión
# es una forma conveniente para crear una nueva lista a partir de una ya existente, 
# realizando operaciones sobre la lista original

new_subjects = [x for x in subjects]
print(new_subjects)

['Matemáticas', 'Estadística', 'Programación']

In [237]:
new_subjects = [x*2 for x in subjects]
print(new_subjects)

['MatemáticasMatemáticas', 'EstadísticaEstadística', 'ProgramaciónProgramación']

In [239]:
# también se le pueden agregar condiciones

my_list = [10,20,30,40,50]

new_list = [x for x in my_list if x <= 40]

print(new_list)

[10, 20, 30, 40]

In [2]:
# Los índices pueden ser utilizados no solo para referenciar
# También para ser utilizados dentro de algún cálculo

# Imprimir valores del 0 al 10

for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

Un loop utilizando **while** seguirá iterando mientras la condición sea igual a **True**

In [3]:
# o utilizar algún contador 

contador = 0
limite = 10

while contador<= limite: 
    contador = contador + 1
    print(contador)

1
2
3
4
5
6
7
8
9
10
11

## Diccionarios

* Es una colección mutable de pares clave-valor, sin orden particular
* Una **clave** es un identificador ÚNICO, acompañado de un valor.
* Un **valor** es asignado a una llave, pero éstos no son necesariamente únicos.
* Se utilizan diccionario para referirse a asociaciones, para mapear o conectar dos valores juntos.
* A diferencia de las listas, éstas se declaran con llaves {}
* Cada par clave-valor es separado por coma, y una clave es separada por `:` de sus valores.

In [195]:
scores = {
    "Juan Perez": 98,
    "Ernesto Flores": 78,
    "Luisa Rodríguez": 100,
    "Susana Espinoza": 80
}

In [196]:
scores

{'Juan Perez': 98,
 'Ernesto Flores': 78,
 'Luisa Rodríguez': 100,
 'Susana Espinoza': 80}

In [197]:
len(scores) # la longitud de un diccionario se refiere al numero de pares clave-valor

4

In [199]:
scores['Juan Perez'] # a diferencia de las listas, aquí nos referimos a la clave y no al índice

98

In [200]:
# Como es mutable, podemos reasignar sus valores
# Por ejemplo, Susana se le suben 10 puntos
scores['Susana Espinoza'] = 90
print(scores)

{'Juan Perez': 98, 'Ernesto Flores': 78, 'Luisa Rodríguez': 100, 'Susana Espinoza': 90}

In [201]:
scores.pop('Juan Perez') # con el método pop podemos eliminar pares clave-valor

98

In [202]:
scores

{'Ernesto Flores': 78, 'Luisa Rodríguez': 100, 'Susana Espinoza': 90}

In [203]:
"Susana Espinoza" in scores

True

In [204]:
"Susana Espinosa" in scores

False

In [207]:
# el objeto diccionario tiene métodos que se llaman key, y values para referirse a sus clave y valores, respectivamente

print(scores.keys())
print(scores.values())

dict_keys(['Ernesto Flores', 'Luisa Rodríguez', 'Susana Espinoza'])
dict_values([78, 100, 90])

In [209]:
100 in scores.values()

True

In [210]:
99 in scores.values()

False

## Importación de librerías de python

* la instrucción `import` importa una librería que se tenga instalada dentro del ambiente de python que uno esté usando.
* `as` se refiere al prefijo o nombre que vamos a utilizar para referirnos a esta librería (en este caso, a cualquier cosa dentro de pandas le ponemos un alias **pd**)
* utilizamos `from` cuando solo queremos importar ciertos métodos asociados a una librería.

In [211]:
import pandas as pd

In [212]:
## me refiero a la libreria pandas con pd

pd.Series()

/var/folders/ls/3cpc9bjx04xfmf_tzhgzfgrm0000gn/T/ipykernel_94287/192744320.py:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

In [214]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

## Estructura de programa Python

<img src="Imagenes/estructura.jpg" alt="Drawing" style="width:250px;"/>

<img src="Imagenes/estructura2.jpg" alt="Drawing" style="width: 500px;"/>

    
La ejecución de un programa   de <span style="color:indigo">python</span> en una terminal se lleva a cabo con  el comando:   <span style="color:indigo">**python3**</span>  <span style="color:red"> **Mi_programa.py** </span> 



A continuación se muestra  **hola mundo**  siguiendo la estructura anterior.

In [1]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-

import sys

def HolaMundo():
    print("\tHola Mundo")
    print("Ruta de ejecución:", sys.executable)
    print("Versión:\t  ",sys.version)
    return 

HolaMundo()

dir(sys)
help(sys.exit)

	Hola Mundo
Ruta de ejecución: /Users/vanotole/anaconda3/bin/python
Versión:	   3.8.13 (default, Mar 28 2022, 06:16:26)
[Clang 12.0.0 ]
Help on built-in function exit in module sys:

exit(status=None, /)
    Exit the interpreter by raising SystemExit(status).

    If the status is omitted or None, it defaults to zero (i.e., success).
    If the status is an integer, it will be used as the system exit status.
    If it is another kind of object, it will be printed and the system
    exit status will be one (i.e., failure).