# Trabajando con fechas y tiempos en Pandas

In [1]:
import pandas as pd
import datetime as dt

## Revisión del módulo `datetime` de Python
- El módulo `datetime` está incorporado dentro de Python.
- El alias común para el módulo `datetime` es `dt`.
- El módulo `datetime` incluye las clases `date` y `datetime` para representar fechas y fechas con tiempo.
- El constructor `date` acepta argumentos para año, mes y día. Python asigna por defecto el valor 0 a cualquier valor faltante.
- El constructor `datetime` acepta argumentos para año, mes, día, hora, minuto y segundo.

In [4]:
# Ejemplo del uso de datetime
someday = dt.date(2025, 12, 15)

print(f'year = {someday.year}')
print(f'month = {someday.month}')
print(f'day = {someday.day}')

sometime = dt.datetime(2025, 12, 15, 8, 13, 59)
print(f'year = {sometime.year}')
print(f'month = {sometime.month}')
print(f'day = {sometime.day}')
print(f'hour = {sometime.hour}')
print(f'minute = {sometime.minute}')
print(f'second = {sometime.second}')

year = 2025
month = 12
day = 15
year = 2025
month = 12
day = 15
hour = 8
minute = 13
second = 59

## Los objetos `Timestamp` y `DatetimeIndex`

- Pandas incluye varias clases relacionadas con fechas y horas.
- El **Timestamp** es similar al objeto **datetime** de Python (pero con funcionalidades ampliadas).
- Un **DatetimeIndex** es un índice de objetos **Timestamp**.
- El constructor de **Timestamp** acepta una cadena de texto, un objeto **datetime**, o argumentos equivalentes a los de la clase **datetime**.

In [6]:
pd.Timestamp(2027, 3, 12)

Timestamp('2027-03-12 00:00:00')

In [7]:
pd.Timestamp(2027, 3, 12, 18, 23, 49)

Timestamp('2027-03-12 18:23:49')

In [8]:
pd.Timestamp(dt.date(2028, 10, 23))

Timestamp('2028-10-23 00:00:00')

In [9]:
pd.Timestamp(dt.datetime(2028, 10, 23, 14, 35))

Timestamp('2028-10-23 14:35:00')

In [10]:
pd.Timestamp("2025-01-01")

Timestamp('2025-01-01 00:00:00')

In [11]:
pd.Timestamp("2025/04/01")

Timestamp('2025-04-01 00:00:00')

In [12]:
pd.Timestamp("2021-03-08 08:35:15")

Timestamp('2021-03-08 08:35:15')

In [15]:
pd.Series([pd.Timestamp("2021-03-08 08:35:15")]).iloc[0]

Timestamp('2021-03-08 08:35:15')

In [16]:
pd.DatetimeIndex(["2025-01-01", "2025-02-01", "2025-03-01"])

DatetimeIndex(['2025-01-01', '2025-02-01', '2025-03-01'], dtype='datetime64[ns]', freq=None)

In [17]:
index = pd.DatetimeIndex([
    dt.date(2026, 1, 10),
    dt.date(2026, 2, 20)
])

print(index[0])
print(type(index[0]))

2026-01-10 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

## Crear un rango de fechas con la función `pd.date_range`

- La función `date_range` genera y devuelve un **DatetimeIndex** que contiene una secuencia de fechas.
- La función requiere 2 de los 3 siguientes parámetros: `start`, `end` y `period`.
- Si se proporcionan `start` y `end`, Pandas asumirá un intervalo/período diario.
- Cada elemento dentro de un **DatetimeIndex** es un **Timestamp**.

In [37]:
pd.date_range(start="2025-01-01", end="2025-01-07")

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07'],
              dtype='datetime64[ns]', freq='D')

In [38]:
pd.date_range(start="2025-01-01", end="2025-01-07", freq="D")

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07'],
              dtype='datetime64[ns]', freq='D')

In [39]:
pd.date_range(start="2025-01-01", end="2025-01-07", freq="2D")

DatetimeIndex(['2025-01-01', '2025-01-03', '2025-01-05', '2025-01-07'], dtype='datetime64[ns]', freq='2D')

In [40]:
pd.date_range(start="2025-01-01", end="2025-01-07", freq="B") # business days - Monday-Friday

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-06',
               '2025-01-07'],
              dtype='datetime64[ns]', freq='B')

In [23]:
pd.date_range(start="2025-01-01", end="2025-01-31", freq="W")

DatetimeIndex(['2025-01-05', '2025-01-12', '2025-01-19', '2025-01-26'], dtype='datetime64[ns]', freq='W-SUN')

In [41]:
pd.date_range(start="2025-01-01", end="2025-01-31", freq="W-FRI")

DatetimeIndex(['2025-01-03', '2025-01-10', '2025-01-17', '2025-01-24',
               '2025-01-31'],
              dtype='datetime64[ns]', freq='W-FRI')

In [42]:
pd.date_range(start="2025-01-01", end="2025-01-31", freq="W-THU")

DatetimeIndex(['2025-01-02', '2025-01-09', '2025-01-16', '2025-01-23',
               '2025-01-30'],
              dtype='datetime64[ns]', freq='W-THU')

In [43]:
pd.date_range(start="2025-01-01", end="2025-01-31", freq="h")

DatetimeIndex(['2025-01-01 00:00:00', '2025-01-01 01:00:00',
               '2025-01-01 02:00:00', '2025-01-01 03:00:00',
               '2025-01-01 04:00:00', '2025-01-01 05:00:00',
               '2025-01-01 06:00:00', '2025-01-01 07:00:00',
               '2025-01-01 08:00:00', '2025-01-01 09:00:00',
               ...
               '2025-01-30 15:00:00', '2025-01-30 16:00:00',
               '2025-01-30 17:00:00', '2025-01-30 18:00:00',
               '2025-01-30 19:00:00', '2025-01-30 20:00:00',
               '2025-01-30 21:00:00', '2025-01-30 22:00:00',
               '2025-01-30 23:00:00', '2025-01-31 00:00:00'],
              dtype='datetime64[ns]', length=721, freq='h')

In [44]:
pd.date_range(start="2025-01-01", end="2025-01-31", freq="6h")

DatetimeIndex(['2025-01-01 00:00:00', '2025-01-01 06:00:00',
               '2025-01-01 12:00:00', '2025-01-01 18:00:00',
               '2025-01-02 00:00:00', '2025-01-02 06:00:00',
               '2025-01-02 12:00:00', '2025-01-02 18:00:00',
               '2025-01-03 00:00:00', '2025-01-03 06:00:00',
               ...
               '2025-01-28 18:00:00', '2025-01-29 00:00:00',
               '2025-01-29 06:00:00', '2025-01-29 12:00:00',
               '2025-01-29 18:00:00', '2025-01-30 00:00:00',
               '2025-01-30 06:00:00', '2025-01-30 12:00:00',
               '2025-01-30 18:00:00', '2025-01-31 00:00:00'],
              dtype='datetime64[ns]', length=121, freq='6h')

In [46]:
pd.date_range(start="2025-01-01", end="2025-12-31", freq="ME")

DatetimeIndex(['2025-01-31', '2025-02-28', '2025-03-31', '2025-04-30',
               '2025-05-31', '2025-06-30', '2025-07-31', '2025-08-31',
               '2025-09-30', '2025-10-31', '2025-11-30', '2025-12-31'],
              dtype='datetime64[ns]', freq='ME')

In [47]:
pd.date_range(start="2025-01-01", end="2025-12-31", freq="MS")

DatetimeIndex(['2025-01-01', '2025-02-01', '2025-03-01', '2025-04-01',
               '2025-05-01', '2025-06-01', '2025-07-01', '2025-08-01',
               '2025-09-01', '2025-10-01', '2025-11-01', '2025-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [48]:
pd.date_range(start="2025-01-01", end="2050-12-31", freq="YE")

DatetimeIndex(['2025-12-31', '2026-12-31', '2027-12-31', '2028-12-31',
               '2029-12-31', '2030-12-31', '2031-12-31', '2032-12-31',
               '2033-12-31', '2034-12-31', '2035-12-31', '2036-12-31',
               '2037-12-31', '2038-12-31', '2039-12-31', '2040-12-31',
               '2041-12-31', '2042-12-31', '2043-12-31', '2044-12-31',
               '2045-12-31', '2046-12-31', '2047-12-31', '2048-12-31',
               '2049-12-31', '2050-12-31'],
              dtype='datetime64[ns]', freq='YE-DEC')

In [49]:
pd.date_range(start="2012-09-09", freq="D", periods=25)

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [50]:
pd.date_range(start="2012-09-09", freq="3D", periods=40)

DatetimeIndex(['2012-09-09', '2012-09-12', '2012-09-15', '2012-09-18',
               '2012-09-21', '2012-09-24', '2012-09-27', '2012-09-30',
               '2012-10-03', '2012-10-06', '2012-10-09', '2012-10-12',
               '2012-10-15', '2012-10-18', '2012-10-21', '2012-10-24',
               '2012-10-27', '2012-10-30', '2012-11-02', '2012-11-05',
               '2012-11-08', '2012-11-11', '2012-11-14', '2012-11-17',
               '2012-11-20', '2012-11-23', '2012-11-26', '2012-11-29',
               '2012-12-02', '2012-12-05', '2012-12-08', '2012-12-11',
               '2012-12-14', '2012-12-17', '2012-12-20', '2012-12-23',
               '2012-12-26', '2012-12-29', '2013-01-01', '2013-01-04'],
              dtype='datetime64[ns]', freq='3D')

In [51]:
pd.date_range(start="2012-09-09", freq="B", periods=180)

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21',
               ...
               '2013-05-06', '2013-05-07', '2013-05-08', '2013-05-09',
               '2013-05-10', '2013-05-13', '2013-05-14', '2013-05-15',
               '2013-05-16', '2013-05-17'],
              dtype='datetime64[ns]', length=180, freq='B')

In [52]:
pd.date_range(end="2013-10-31", freq="D", periods=20)

DatetimeIndex(['2013-10-12', '2013-10-13', '2013-10-14', '2013-10-15',
               '2013-10-16', '2013-10-17', '2013-10-18', '2013-10-19',
               '2013-10-20', '2013-10-21', '2013-10-22', '2013-10-23',
               '2013-10-24', '2013-10-25', '2013-10-26', '2013-10-27',
               '2013-10-28', '2013-10-29', '2013-10-30', '2013-10-31'],
              dtype='datetime64[ns]', freq='D')

In [53]:
pd.date_range(end="2016-12-31", freq="B", periods=75)

DatetimeIndex(['2016-09-19', '2016-09-20', '2016-09-21', '2016-09-22',
               '2016-09-23', '2016-09-26', '2016-09-27', '2016-09-28',
               '2016-09-29', '2016-09-30', '2016-10-03', '2016-10-04',
               '2016-10-05', '2016-10-06', '2016-10-07', '2016-10-10',
               '2016-10-11', '2016-10-12', '2016-10-13', '2016-10-14',
               '2016-10-17', '2016-10-18', '2016-10-19', '2016-10-20',
               '2016-10-21', '2016-10-24', '2016-10-25', '2016-10-26',
               '2016-10-27', '2016-10-28', '2016-10-31', '2016-11-01',
               '2016-11-02', '2016-11-03', '2016-11-04', '2016-11-07',
               '2016-11-08', '2016-11-09', '2016-11-10', '2016-11-11',
               '2016-11-14', '2016-11-15', '2016-11-16', '2016-11-17',
               '2016-11-18', '2016-11-21', '2016-11-22', '2016-11-23',
               '2016-11-24', '2016-11-25', '2016-11-28', '2016-11-29',
               '2016-11-30', '2016-12-01', '2016-12-02', '2016-12-05',
               '2016-12-06', '2016-12-07', '2016-12-08', '2016-12-09',
               '2016-12-12', '2016-12-13', '2016-12-14', '2016-12-15',
               '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
               '2016-12-22', '2016-12-23', '2016-12-26', '2016-12-27',
               '2016-12-28', '2016-12-29', '2016-12-30'],
              dtype='datetime64[ns]', freq='B')

In [54]:
pd.date_range(end="1991-04-12", freq="W-FRI", periods=75)

DatetimeIndex(['1989-11-10', '1989-11-17', '1989-11-24', '1989-12-01',
               '1989-12-08', '1989-12-15', '1989-12-22', '1989-12-29',
               '1990-01-05', '1990-01-12', '1990-01-19', '1990-01-26',
               '1990-02-02', '1990-02-09', '1990-02-16', '1990-02-23',
               '1990-03-02', '1990-03-09', '1990-03-16', '1990-03-23',
               '1990-03-30', '1990-04-06', '1990-04-13', '1990-04-20',
               '1990-04-27', '1990-05-04', '1990-05-11', '1990-05-18',
               '1990-05-25', '1990-06-01', '1990-06-08', '1990-06-15',
               '1990-06-22', '1990-06-29', '1990-07-06', '1990-07-13',
               '1990-07-20', '1990-07-27', '1990-08-03', '1990-08-10',
               '1990-08-17', '1990-08-24', '1990-08-31', '1990-09-07',
               '1990-09-14', '1990-09-21', '1990-09-28', '1990-10-05',
               '1990-10-12', '1990-10-19', '1990-10-26', '1990-11-02',
               '1990-11-09', '1990-11-16', '1990-11-23', '1990-11-30',
               '1990-12-07', '1990-12-14', '1990-12-21', '1990-12-28',
               '1991-01-04', '1991-01-11', '1991-01-18', '1991-01-25',
               '1991-02-01', '1991-02-08', '1991-02-15', '1991-02-22',
               '1991-03-01', '1991-03-08', '1991-03-15', '1991-03-22',
               '1991-03-29', '1991-04-05', '1991-04-12'],
              dtype='datetime64[ns]', freq='W-FRI')

## El atributo `dt`

- El atributo `dt` revela un objeto `DatetimeProperties` con atributos y métodos para trabajar con fechas y horas. Es similar al atributo `str` para métodos de cadenas de texto.
- El objeto `DatetimeProperties` tiene atributos como `day`, `month` y `year` para mostrar información sobre cada fecha en la **Series**.
- El método `day_name` devuelve el nombmre del día de la semana en texto.
- Atributos como `is_month_end` e `is_quarter_start` devuelven una **Series** booleana.

In [57]:
bunch_of_dates = pd.Series(pd.date_range(start="2000-01-01", end="2020-12-31", freq="24D 3h"))

bunch_of_dates.head()

0   2000-01-01 00:00:00
1   2000-01-25 03:00:00
2   2000-02-18 06:00:00
3   2000-03-13 09:00:00
4   2000-04-06 12:00:00
dtype: datetime64[ns]

In [59]:
bunch_of_dates.dt.day

0       1
1      25
2      18
3      13
4       6
       ..
313     3
314    27
315    21
316    14
317     8
Length: 318, dtype: int32

In [60]:
bunch_of_dates.dt.month

0       1
1       1
2       2
3       3
4       4
       ..
313     9
314     9
315    10
316    11
317    12
Length: 318, dtype: int32

In [61]:
bunch_of_dates.dt.year

0      2000
1      2000
2      2000
3      2000
4      2000
       ...
313    2020
314    2020
315    2020
316    2020
317    2020
Length: 318, dtype: int32

In [62]:
bunch_of_dates.dt.hour

0       0
1       3
2       6
3       9
4      12
       ..
313     3
314     6
315     9
316    12
317    15
Length: 318, dtype: int32

In [63]:
bunch_of_dates.dt.day_of_year

0        1
1       25
2       49
3       73
4       97
      ...
313    247
314    271
315    295
316    319
317    343
Length: 318, dtype: int32

In [64]:
bunch_of_dates.dt.day_name()

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
         ...
313     Thursday
314       Sunday
315    Wednesday
316     Saturday
317      Tuesday
Length: 318, dtype: object

In [65]:
bunch_of_dates.dt.is_month_end

0      False
1      False
2      False
3      False
4      False
       ...
313    False
314    False
315    False
316    False
317    False
Length: 318, dtype: bool

In [66]:
bunch_of_dates.dt.is_month_start

0       True
1      False
2      False
3      False
4      False
       ...
313    False
314    False
315    False
316    False
317    False
Length: 318, dtype: bool

In [67]:
bunch_of_dates[bunch_of_dates.dt.is_quarter_start]

0     2000-01-01 00:00:00
106   2007-01-01 06:00:00
212   2014-01-01 12:00:00
299   2019-10-01 09:00:00
dtype: datetime64[ns]

## Selección de filas en un DataFrame con un `DateTimeIndex`

- El accesor `iloc` está disponible para la extracción basada en la posición del índice.
- El accesor `loc` acepta cadenas de texto o **Timestamps** para extraer por etiqueta/valor de índice. Nota: los objetos `datetime` de Python no funcionarán directamente.
- Puedes usar el corte de listas (slicing) para extraer una secuencia de fechas. El método `truncate` es otra alternativa.

In [69]:
# Instalar un paquete para api de yahoo finance
!pip install yfinance

Requirement already satisfied: yfinance in /Users/vanotole/anaconda3/envs/tsi_ml_env/lib/python3.10/site-packages (0.2.54)
Requirement already satisfied: pandas>=1.3.0 in /Users/vanotole/anaconda3/envs/tsi_ml_env/lib/python3.10/site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in /Users/vanotole/anaconda3/envs/tsi_ml_env/lib/python3.10/site-packages (from yfinance) (2.0.2)
Requirement already satisfied: requests>=2.31 in /Users/vanotole/anaconda3/envs/tsi_ml_env/lib/python3.10/site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in /Users/vanotole/anaconda3/envs/tsi_ml_env/lib/python3.10/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in /Users/vanotole/anaconda3/envs/tsi_ml_env/lib/python3.10/site-packages (from yfinance) (4.3.6)
Requirement already satisfied: pytz>=2022.5 in /Users/vanotole/anaconda3/envs/tsi_ml_env/lib/python3.10/site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in /Users/vanotole/anaconda3/envs/tsi_ml_env/lib/python3.10/site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /Users/vanotole/anaconda3/envs/tsi_ml_env/lib/python3.10/site-packages (from yfinance) (3.17.9)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/vanotole/anaconda3/envs/tsi_ml_env/lib/python3.10/site-packages (from yfinance) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /Users/vanotole/anaconda3/envs/tsi_ml_env/lib/python3.10/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/vanotole/anaconda3/envs/tsi_ml_env/lib/python3.10/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /Users/vanotole/anaconda3/envs/tsi_ml_env/lib/python3.10/site-packages (from pandas>=1.3.0->yfinance) (2024.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /Users/vanotole/anaconda3/envs/tsi_ml_env/lib/python3.10/site-packages (from requests>=2.31->yfinance) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/vanotole/anaconda3/envs/tsi_ml_env/lib/python3.10/site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/vanotole/anaconda3/envs/tsi_ml_env/lib/python3.10/site-packages (from requests>=2.31->yfinance) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/vanotole/anaconda3/envs/tsi_ml_env/lib/python3.10/site-packages (from requests>=2.31->yfinance) (2025.1.31)
Requirement already satisfied: six>=1.5 in /Users/vanotole/anaconda3/envs/tsi_ml_env/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)

In [77]:
import yfinance as yf

# Dynamic ticker symbol
ticker = "IBM"  # You can make this a variable input

# Download historical stock data
stocks = yf.download(ticker, start="1962-01-01", end="2024-12-31")

# Show the first few rows
print(stocks.head())

[*********************100%***********************]  1 of 1 completed

Price          Close      High       Low      Open  Volume
Ticker           IBM       IBM       IBM       IBM     IBM
Date
1962-01-02  1.491550  1.508500  1.491550  1.508500  407940
1962-01-03  1.504589  1.504589  1.491551  1.491551  305955
1962-01-04  1.489595  1.504588  1.488943  1.504588  274575
1962-01-05  1.460260  1.487639  1.457652  1.487639  384405
1962-01-08  1.432879  1.458956  1.421145  1.458956  572685

In [78]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 15857 entries, 1962-01-02 to 2024-12-30
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   (Close, IBM)   15857 non-null  float64
 1   (High, IBM)    15857 non-null  float64
 2   (Low, IBM)     15857 non-null  float64
 3   (Open, IBM)    15857 non-null  float64
 4   (Volume, IBM)  15857 non-null  int64
dtypes: float64(4), int64(1)
memory usage: 743.3 KB

In [79]:
stocks.iloc[300]

Price   Ticker
Close   IBM            1.064903
High    IBM            1.069471
Low     IBM            1.062946
Open    IBM            1.065556
Volume  IBM       368715.000000
Name: 1963-03-12 00:00:00, dtype: float64

In [80]:
stocks.loc["2014-03-04"]

Price   Ticker
Close   IBM       1.129236e+02
High    IBM       1.133597e+02
Low     IBM       1.124633e+02
Open    IBM       1.125420e+02
Volume  IBM       4.950718e+06
Name: 2014-03-04 00:00:00, dtype: float64

In [81]:
stocks.loc[pd.Timestamp(2014, 3, 4)]

Price   Ticker
Close   IBM       1.129236e+02
High    IBM       1.133597e+02
Low     IBM       1.124633e+02
Open    IBM       1.125420e+02
Volume  IBM       4.950718e+06
Name: 2014-03-04 00:00:00, dtype: float64

In [82]:
stocks.loc["2014-03-04":"2014-12-31"]

Price            Close        High         Low        Open   Volume
Ticker             IBM         IBM         IBM         IBM      IBM
Date
2014-03-04  112.923607  113.359701  112.463287  112.542026  4950718
2014-03-05  113.347588  113.838185  112.899381  113.002346  3645519
2014-03-06  113.650459  114.104727  113.202262  113.486930  3992896
2014-03-07  113.674637  114.425685  113.371795  114.080443  4307219
2014-03-10  112.893311  114.092566  112.566243  113.595908  4802395
...                ...         ...         ...         ...      ...
2014-12-24   99.844040  100.565937   99.714472  100.498066  1954033
2014-12-26  100.164886  100.627647   99.961282  100.121704  2000161
2014-12-29   99.035782  100.164898   98.381756   99.955119  3485063
2014-12-30   98.751961   99.227051   98.591539   98.733447  2960075
2014-12-31   98.992607   99.646633   98.955589   98.974093  4196447

[211 rows x 5 columns]

In [83]:
stocks.loc[pd.Timestamp(2014, 3, 4):pd.Timestamp(2014, 12, 31)]

Price            Close        High         Low        Open   Volume
Ticker             IBM         IBM         IBM         IBM      IBM
Date
2014-03-04  112.923607  113.359701  112.463287  112.542026  4950718
2014-03-05  113.347588  113.838185  112.899381  113.002346  3645519
2014-03-06  113.650459  114.104727  113.202262  113.486930  3992896
2014-03-07  113.674637  114.425685  113.371795  114.080443  4307219
2014-03-10  112.893311  114.092566  112.566243  113.595908  4802395
...                ...         ...         ...         ...      ...
2014-12-24   99.844040  100.565937   99.714472  100.498066  1954033
2014-12-26  100.164886  100.627647   99.961282  100.121704  2000161
2014-12-29   99.035782  100.164898   98.381756   99.955119  3485063
2014-12-30   98.751961   99.227051   98.591539   98.733447  2960075
2014-12-31   98.992607   99.646633   98.955589   98.974093  4196447

[211 rows x 5 columns]

In [84]:
stocks.truncate("2014-03-04", "2014-12-31")

Price            Close        High         Low        Open   Volume
Ticker             IBM         IBM         IBM         IBM      IBM
Date
2014-03-04  112.923607  113.359701  112.463287  112.542026  4950718
2014-03-05  113.347588  113.838185  112.899381  113.002346  3645519
2014-03-06  113.650459  114.104727  113.202262  113.486930  3992896
2014-03-07  113.674637  114.425685  113.371795  114.080443  4307219
2014-03-10  112.893311  114.092566  112.566243  113.595908  4802395
...                ...         ...         ...         ...      ...
2014-12-24   99.844040  100.565937   99.714472  100.498066  1954033
2014-12-26  100.164886  100.627647   99.961282  100.121704  2000161
2014-12-29   99.035782  100.164898   98.381756   99.955119  3485063
2014-12-30   98.751961   99.227051   98.591539   98.733447  2960075
2014-12-31   98.992607   99.646633   98.955589   98.974093  4196447

[211 rows x 5 columns]

In [96]:
stocks.loc["2014-03-04", ("Close","IBM")] # El dataframe tiene elementos multiindex en las columnas

np.float64(112.9236068725586)

In [98]:
stocks.loc["2014-03-04", ("High","IBM"):("Close","IBM")]

Series([], Name: 2014-03-04 00:00:00, dtype: float64)

In [102]:
stocks.loc[pd.Timestamp(2014, 3, 4):pd.Timestamp(2014, 12, 31), ("High","IBM"):("Close","IBM")]

Empty DataFrame
Columns: []
Index: [2014-03-04 00:00:00, 2014-03-05 00:00:00, 2014-03-06 00:00:00, 2014-03-07 00:00:00, 2014-03-10 00:00:00, 2014-03-11 00:00:00, 2014-03-12 00:00:00, 2014-03-13 00:00:00, 2014-03-14 00:00:00, 2014-03-17 00:00:00, 2014-03-18 00:00:00, 2014-03-19 00:00:00, 2014-03-20 00:00:00, 2014-03-21 00:00:00, 2014-03-24 00:00:00, 2014-03-25 00:00:00, 2014-03-26 00:00:00, 2014-03-27 00:00:00, 2014-03-28 00:00:00, 2014-03-31 00:00:00, 2014-04-01 00:00:00, 2014-04-02 00:00:00, 2014-04-03 00:00:00, 2014-04-04 00:00:00, 2014-04-07 00:00:00, 2014-04-08 00:00:00, 2014-04-09 00:00:00, 2014-04-10 00:00:00, 2014-04-11 00:00:00, 2014-04-14 00:00:00, 2014-04-15 00:00:00, 2014-04-16 00:00:00, 2014-04-17 00:00:00, 2014-04-21 00:00:00, 2014-04-22 00:00:00, 2014-04-23 00:00:00, 2014-04-24 00:00:00, 2014-04-25 00:00:00, 2014-04-28 00:00:00, 2014-04-29 00:00:00, 2014-04-30 00:00:00, 2014-05-01 00:00:00, 2014-05-02 00:00:00, 2014-05-05 00:00:00, 2014-05-06 00:00:00, 2014-05-07 00:00:00, 2014-05-08 00:00:00, 2014-05-09 00:00:00, 2014-05-12 00:00:00, 2014-05-13 00:00:00, 2014-05-14 00:00:00, 2014-05-15 00:00:00, 2014-05-16 00:00:00, 2014-05-19 00:00:00, 2014-05-20 00:00:00, 2014-05-21 00:00:00, 2014-05-22 00:00:00, 2014-05-23 00:00:00, 2014-05-27 00:00:00, 2014-05-28 00:00:00, 2014-05-29 00:00:00, 2014-05-30 00:00:00, 2014-06-02 00:00:00, 2014-06-03 00:00:00, 2014-06-04 00:00:00, 2014-06-05 00:00:00, 2014-06-06 00:00:00, 2014-06-09 00:00:00, 2014-06-10 00:00:00, 2014-06-11 00:00:00, 2014-06-12 00:00:00, 2014-06-13 00:00:00, 2014-06-16 00:00:00, 2014-06-17 00:00:00, 2014-06-18 00:00:00, 2014-06-19 00:00:00, 2014-06-20 00:00:00, 2014-06-23 00:00:00, 2014-06-24 00:00:00, 2014-06-25 00:00:00, 2014-06-26 00:00:00, 2014-06-27 00:00:00, 2014-06-30 00:00:00, 2014-07-01 00:00:00, 2014-07-02 00:00:00, 2014-07-03 00:00:00, 2014-07-07 00:00:00, 2014-07-08 00:00:00, 2014-07-09 00:00:00, 2014-07-10 00:00:00, 2014-07-11 00:00:00, 2014-07-14 00:00:00, 2014-07-15 00:00:00, 2014-07-16 00:00:00, 2014-07-17 00:00:00, 2014-07-18 00:00:00, 2014-07-21 00:00:00, 2014-07-22 00:00:00, 2014-07-23 00:00:00, 2014-07-24 00:00:00, ...]

[211 rows x 0 columns]

In [104]:
import yfinance as yf

# Dynamic ticker symbol
ticker = "IBM"  # You can make this a variable input

# Download historical stock data
stocks = yf.download(ticker, start="1962-01-01", end="2024-12-31")
stocks.columns = stocks.columns.droplevel(1)

# Show the first few rows
print(stocks.head())

[*********************100%***********************]  1 of 1 completed

Price          Close      High       Low      Open  Volume
Date
1962-01-02  1.491550  1.508500  1.491550  1.508500  407940
1962-01-03  1.504589  1.504589  1.491551  1.491551  305955
1962-01-04  1.489595  1.504588  1.488943  1.504588  274575
1962-01-05  1.460260  1.487639  1.457652  1.487639  384405
1962-01-08  1.432879  1.458956  1.421145  1.458956  572685

In [105]:
stocks.loc["2014-03-04", "Close"]

np.float64(112.9236068725586)

In [107]:
stocks.loc["2014-03-04", "Close":"High"]

Price
Close    112.923607
High     113.359701
Name: 2014-03-04 00:00:00, dtype: float64

In [109]:
stocks.loc[pd.Timestamp(2014, 3, 4):pd.Timestamp(2014, 12, 31), "Close":"High"]

Price            Close        High
Date
2014-03-04  112.923607  113.359701
2014-03-05  113.347588  113.838185
2014-03-06  113.650459  114.104727
2014-03-07  113.674637  114.425685
2014-03-10  112.893311  114.092566
...                ...         ...
2014-12-24   99.844040  100.565937
2014-12-26  100.164886  100.627647
2014-12-29   99.035782  100.164898
2014-12-30   98.751961   99.227051
2014-12-31   98.992607   99.646633

[211 rows x 2 columns]

## El objeto `DateOffset`

- Un objeto **DateOffset** añade tiempo a un **Timestamp** para obtener un nuevo **Timestamp**.
- El constructor de **DateOffset** acepta parámetros como `days`, `weeks`, `months`, `years`, entre otros.
- Podemos pasar un objeto **DateOffset** al parámetro `freq` de la función `pd.date_range`.

In [110]:
import yfinance as yf

# Dynamic ticker symbol
ticker = "IBM"  # You can make this a variable input

# Download historical stock data
stocks = yf.download(ticker, start="1962-01-01", end="2024-12-31")
stocks.columns = stocks.columns.droplevel(1)

# Show the first few rows
print(stocks.head())

[*********************100%***********************]  1 of 1 completed

Price          Close      High       Low      Open  Volume
Date
1962-01-02  1.491550  1.508500  1.491550  1.508500  407940
1962-01-03  1.504589  1.504589  1.491551  1.491551  305955
1962-01-04  1.489595  1.504588  1.488943  1.504588  274575
1962-01-05  1.460260  1.487639  1.457652  1.487639  384405
1962-01-08  1.432879  1.458956  1.421145  1.458956  572685

In [111]:
stocks.index + pd.DateOffset(days=5)

DatetimeIndex(['1962-01-07', '1962-01-08', '1962-01-09', '1962-01-10',
               '1962-01-13', '1962-01-14', '1962-01-15', '1962-01-16',
               '1962-01-17', '1962-01-20',
               ...
               '2024-12-21', '2024-12-22', '2024-12-23', '2024-12-24',
               '2024-12-25', '2024-12-28', '2024-12-29', '2024-12-31',
               '2025-01-01', '2025-01-04'],
              dtype='datetime64[ns]', name='Date', length=15857, freq=None)

In [112]:
stocks.index - pd.DateOffset(days=5)

DatetimeIndex(['1961-12-28', '1961-12-29', '1961-12-30', '1961-12-31',
               '1962-01-03', '1962-01-04', '1962-01-05', '1962-01-06',
               '1962-01-07', '1962-01-10',
               ...
               '2024-12-11', '2024-12-12', '2024-12-13', '2024-12-14',
               '2024-12-15', '2024-12-18', '2024-12-19', '2024-12-21',
               '2024-12-22', '2024-12-25'],
              dtype='datetime64[ns]', name='Date', length=15857, freq=None)

In [113]:
stocks.index + pd.DateOffset(months=3)

DatetimeIndex(['1962-04-02', '1962-04-03', '1962-04-04', '1962-04-05',
               '1962-04-08', '1962-04-09', '1962-04-10', '1962-04-11',
               '1962-04-12', '1962-04-15',
               ...
               '2025-03-16', '2025-03-17', '2025-03-18', '2025-03-19',
               '2025-03-20', '2025-03-23', '2025-03-24', '2025-03-26',
               '2025-03-27', '2025-03-30'],
              dtype='datetime64[ns]', name='Date', length=15857, freq=None)

In [114]:
stocks.index - pd.DateOffset(years=1)

DatetimeIndex(['1961-01-02', '1961-01-03', '1961-01-04', '1961-01-05',
               '1961-01-08', '1961-01-09', '1961-01-10', '1961-01-11',
               '1961-01-12', '1961-01-15',
               ...
               '2023-12-16', '2023-12-17', '2023-12-18', '2023-12-19',
               '2023-12-20', '2023-12-23', '2023-12-24', '2023-12-26',
               '2023-12-27', '2023-12-30'],
              dtype='datetime64[ns]', name='Date', length=15857, freq=None)

In [115]:
stocks.index + pd.DateOffset(hours=7)

DatetimeIndex(['1962-01-02 07:00:00', '1962-01-03 07:00:00',
               '1962-01-04 07:00:00', '1962-01-05 07:00:00',
               '1962-01-08 07:00:00', '1962-01-09 07:00:00',
               '1962-01-10 07:00:00', '1962-01-11 07:00:00',
               '1962-01-12 07:00:00', '1962-01-15 07:00:00',
               ...
               '2024-12-16 07:00:00', '2024-12-17 07:00:00',
               '2024-12-18 07:00:00', '2024-12-19 07:00:00',
               '2024-12-20 07:00:00', '2024-12-23 07:00:00',
               '2024-12-24 07:00:00', '2024-12-26 07:00:00',
               '2024-12-27 07:00:00', '2024-12-30 07:00:00'],
              dtype='datetime64[ns]', name='Date', length=15857, freq=None)

In [116]:

stocks.index + pd.DateOffset(years=1, months=3, days=2, hours=14, minutes=23, seconds=12)

DatetimeIndex(['1963-04-04 14:23:12', '1963-04-05 14:23:12',
               '1963-04-06 14:23:12', '1963-04-07 14:23:12',
               '1963-04-10 14:23:12', '1963-04-11 14:23:12',
               '1963-04-12 14:23:12', '1963-04-13 14:23:12',
               '1963-04-14 14:23:12', '1963-04-17 14:23:12',
               ...
               '2026-03-18 14:23:12', '2026-03-19 14:23:12',
               '2026-03-20 14:23:12', '2026-03-21 14:23:12',
               '2026-03-22 14:23:12', '2026-03-25 14:23:12',
               '2026-03-26 14:23:12', '2026-03-28 14:23:12',
               '2026-03-29 14:23:12', '2026-04-01 14:23:12'],
              dtype='datetime64[ns]', name='Date', length=15857, freq=None)

### Ejercicio

Encontrar el valor de la acción en cada día de su cumpleaños, cada año.

## Offsets de fecha especializados

- Pandas incluye offsets de fecha más especializados en `pd.tseries.offsets`.
- Podemos agregar diferentes cantidades de tiempo a cada fecha (por ejemplo, fin de mes, fin de trimestre, inicio de año).

In [117]:
import yfinance as yf

# Dynamic ticker symbol
ticker = "IBM"  # You can make this a variable input

# Download historical stock data
stocks = yf.download(ticker, start="1962-01-01", end="2024-12-31")
stocks.columns = stocks.columns.droplevel(1)

# Show the first few rows
print(stocks.head())

[*********************100%***********************]  1 of 1 completed

Price          Close      High       Low      Open  Volume
Date
1962-01-02  1.491550  1.508500  1.491550  1.508500  407940
1962-01-03  1.504589  1.504589  1.491551  1.491551  305955
1962-01-04  1.489595  1.504588  1.488943  1.504588  274575
1962-01-05  1.460260  1.487639  1.457652  1.487639  384405
1962-01-08  1.432879  1.458956  1.421145  1.458956  572685

In [119]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['1962-01-31', '1962-01-31', '1962-01-31', '1962-01-31',
               '1962-01-31', '1962-01-31', '1962-01-31', '1962-01-31',
               '1962-01-31', '1962-01-31',
               ...
               '2024-12-31', '2024-12-31', '2024-12-31', '2024-12-31',
               '2024-12-31', '2024-12-31', '2024-12-31', '2024-12-31',
               '2024-12-31', '2024-12-31'],
              dtype='datetime64[ns]', name='Date', length=15857, freq=None)

In [120]:
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['1961-12-31', '1961-12-31', '1961-12-31', '1961-12-31',
               '1961-12-31', '1961-12-31', '1961-12-31', '1961-12-31',
               '1961-12-31', '1961-12-31',
               ...
               '2024-11-30', '2024-11-30', '2024-11-30', '2024-11-30',
               '2024-11-30', '2024-11-30', '2024-11-30', '2024-11-30',
               '2024-11-30', '2024-11-30'],
              dtype='datetime64[ns]', name='Date', length=15857, freq=None)

In [121]:
stocks.index + pd.tseries.offsets.QuarterEnd()

DatetimeIndex(['1962-03-31', '1962-03-31', '1962-03-31', '1962-03-31',
               '1962-03-31', '1962-03-31', '1962-03-31', '1962-03-31',
               '1962-03-31', '1962-03-31',
               ...
               '2024-12-31', '2024-12-31', '2024-12-31', '2024-12-31',
               '2024-12-31', '2024-12-31', '2024-12-31', '2024-12-31',
               '2024-12-31', '2024-12-31'],
              dtype='datetime64[ns]', name='Date', length=15857, freq=None)

In [122]:
stocks.index - pd.tseries.offsets.QuarterEnd()

DatetimeIndex(['1961-12-31', '1961-12-31', '1961-12-31', '1961-12-31',
               '1961-12-31', '1961-12-31', '1961-12-31', '1961-12-31',
               '1961-12-31', '1961-12-31',
               ...
               '2024-09-30', '2024-09-30', '2024-09-30', '2024-09-30',
               '2024-09-30', '2024-09-30', '2024-09-30', '2024-09-30',
               '2024-09-30', '2024-09-30'],
              dtype='datetime64[ns]', name='Date', length=15857, freq=None)

In [123]:
stocks.index + pd.tseries.offsets.QuarterBegin(startingMonth=1)

DatetimeIndex(['1962-04-01', '1962-04-01', '1962-04-01', '1962-04-01',
               '1962-04-01', '1962-04-01', '1962-04-01', '1962-04-01',
               '1962-04-01', '1962-04-01',
               ...
               '2025-01-01', '2025-01-01', '2025-01-01', '2025-01-01',
               '2025-01-01', '2025-01-01', '2025-01-01', '2025-01-01',
               '2025-01-01', '2025-01-01'],
              dtype='datetime64[ns]', name='Date', length=15857, freq=None)

In [124]:
stocks.index - pd.tseries.offsets.QuarterBegin(startingMonth=1)

DatetimeIndex(['1962-01-01', '1962-01-01', '1962-01-01', '1962-01-01',
               '1962-01-01', '1962-01-01', '1962-01-01', '1962-01-01',
               '1962-01-01', '1962-01-01',
               ...
               '2024-10-01', '2024-10-01', '2024-10-01', '2024-10-01',
               '2024-10-01', '2024-10-01', '2024-10-01', '2024-10-01',
               '2024-10-01', '2024-10-01'],
              dtype='datetime64[ns]', name='Date', length=15857, freq=None)

In [125]:
stocks.index + pd.tseries.offsets.YearEnd()

DatetimeIndex(['1962-12-31', '1962-12-31', '1962-12-31', '1962-12-31',
               '1962-12-31', '1962-12-31', '1962-12-31', '1962-12-31',
               '1962-12-31', '1962-12-31',
               ...
               '2024-12-31', '2024-12-31', '2024-12-31', '2024-12-31',
               '2024-12-31', '2024-12-31', '2024-12-31', '2024-12-31',
               '2024-12-31', '2024-12-31'],
              dtype='datetime64[ns]', name='Date', length=15857, freq=None)

In [127]:
stocks.index + pd.tseries.offsets.YearBegin()

DatetimeIndex(['1963-01-01', '1963-01-01', '1963-01-01', '1963-01-01',
               '1963-01-01', '1963-01-01', '1963-01-01', '1963-01-01',
               '1963-01-01', '1963-01-01',
               ...
               '2025-01-01', '2025-01-01', '2025-01-01', '2025-01-01',
               '2025-01-01', '2025-01-01', '2025-01-01', '2025-01-01',
               '2025-01-01', '2025-01-01'],
              dtype='datetime64[ns]', name='Date', length=15857, freq=None)

## Timedeltas

- Un **Timedelta** es un objeto de pandas que representa una duración (una cantidad de tiempo).
- Restar dos objetos **Timestamp** dará como resultado un objeto **Timedelta** (esto también aplica al restar una **Series** de otra **Series**).
- El constructor de **Timedelta** acepta parámetros de tiempo así como descripciones en forma de cadena de texto.

In [128]:
ecommerce = pd.read_csv("../Datasets/ecommerce.csv", index_col="ID", parse_dates=["order_date", "delivery_date"], date_format="%m/%d/%y")
ecommerce.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [129]:
ecommerce["Delivery Time"] = ecommerce["delivery_date"] - ecommerce["order_date"]
ecommerce.head()

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days

In [130]:
ecommerce["Delivery Time"].max()

Timedelta('3583 days 00:00:00')

In [131]:
ecommerce["Delivery Time"].min()

Timedelta('8 days 00:00:00')

In [132]:
ecommerce["Delivery Time"].mean()

Timedelta('1217 days 22:53:53.532934128')